<html>
  <head>
    <title>ドッ ドッ ドリドリ ドドドド ドリランド</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/pico-player.js"></script>
    <script type="text/javascript" src="/javascripts/utf.js"></script>
    <script type="text/javascript" src="/javascripts/doriland.js"></script>
  </head>
  <body>
    <h1>ドッ ドッ ドリドリ ドドドド ドリランド</h1>
    <p style="margin-left:10px">Google Chrome専用です</p>
    <section style="float:left">
      <textarea cols=60 rows=5 id="text">|+ドッ ドッ ドリドリ ドドドド ドリランド</textarea><br/>
      <button id="play">loading...</button>
      <button id="stop">stop</button>
      <button id="tweet">tweet this doriland</button>
    </section>
    
    <section style="float:left;margin-left:25px;padding:20px;background:#ededed">
        samples
        <ul style="">
          <li><a href="javascript:void(0)">ドッ ドッ ドリドリ ドドドド ドリランド</a></li>
          <li><a href="javascript:void(0)">++|ドッ ドッ ドッドッ</a></li>
          <li><a href="javascript:void(0)">|ドッ ドッ ドリドリ -ド+ド-ド+ド ドリランド-</a></li>
          <li><a href="javascript:void(0)">|ラッラッラッドリ</a></li>
          <li><a href="javascript:void(0)">|++ドド--リラ</a></li>
          <li><a href="javascript:void(0)">|ドリラ +++ド--リ-ラ</a></li>        
        </ul>
    </section>
  </body>
</html>
