<html>
  <head>
    <meta charset="utf-8">
    <title>mohayonao</title>
    <link rel="shortcut icon" href="/images/mohayonao.png">
    <style type="text/css"><!--
      a { color: #3366ff; text-decoration: none; }
      a:hover { color: #ff3366; text-decoration: underline; }

      section h1 { font-size: 28px; margin: 10px 0px 0px; border-bottom: solid 1px gray; }

      section div  { padding: 20px; }
      section div a { font-weight: bold; }

      footer { margin-top: 20px; font-size: 12px; }

      .alpha100 { opacity: 1.0 }
      .alpha060 { opacity: 0.6 }
      .alpha030 { opacity: 0.3 }
      .alpha010 { opacity: 0.1 }

      
    --></style>
  </head>
  <body>
    <header>
      <img src="/images/mohayonao.png" class="alpha100">
      <img src="/images/mohayonao.png" class="alpha060">
      <img src="/images/mohayonao.png" class="alpha030">
      <img src="/images/mohayonao.png" class="alpha010">
    </header>
    <section>
      <h1>WEB INSTRUMENTS</h1>
      <div>
        <a href="/windmills">windmills</a><br>
        windmill interface 24 poly synthesizer (more <a href="/windmills?30">74 poly</a>, <a href="/windmills?80">3 poly</a> versions)
      </div>
    </section>
    <footer>
      2011 mohayonao (<a href="http://twitter.com/#!/mohayonao">twitter</a>)
    </footer>
  </body>
</html>
