<html>
  <head>
    <meta charset="utf-8">
    <title>mohayonao</title>
    <link rel="shortcut icon" href="/images/mohayonao.png">
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <header>
      <img src="/images/mohayonao.png" class="alpha100">
      <img src="/images/mohayonao.png" class="alpha080">
      <img src="/images/mohayonao.png" class="alpha040">
      <img src="/images/mohayonao.png" class="alpha020">
      <img src="/images/mohayonao.png" class="alpha010">
      <img src="/images/mohayonao.png" class="alpha005">
    </header>

    <section id="about">
      <h1>ABOUT</h1>
      <pre>
  Profile : I have no friends (who interest in computer science.)
  Interest: Music (algorithmic composition)
  Skills  : JavaScript, Python, C++, Java(Android)
  LivingAt: Osaka
      </pre>
    </section>
    
    <section id="web-instruments">
      <h1>PRODUCTS</h1>
      <div>
        <img src="/images/app/timbre.png">
        <h2><a href="http://mohayonao.github.com/timbre">timbre</a></h2>
        <span class="description">A JavaScript Library for Objective Sound Programming
          <ul style="list-style:none;margin:10px">
            <li style="float:left;margin:0px 20px 0px 0px">
              <a href="http://mohayonao.github.com/timbre/examples/002_rhythmsequencer.html">DEMO1</a>
            </li>
            <li style="float:left;margin:0px 20px">
              <a href="http://mohayonao.github.com/timbre/examples/003_loadwavfiles.html">DEMO2</a>
            </li>
            <li style="float:left;margin:0px 20px">
              <a href="http://mohayonao.github.com/timbre/examples/004_timbresynth.html">DEMO3</a>
            </li>
          </ul>
        </span>
        <span class="using">JavaScript/WebAudioAPI/AudioDataAPI</span>
        <span class="date">2012-06-02</span>
        <span class="seealso"><a href="http://mohayonao.hatenablog.com/entry/2012/05/19/074218">サウンドプログラミング用のJavaScriptライブラリをつくっている</a></span>
      </div>
      <div>
        <img src="/images/app/cnvui.png">
        <h2><a href="http://mohayonao.github.com/CnvUI">CnvUI</a></h2>
        <span class="description">A tiny UI based on HTMLCanvasElement</span>
        <span class="using">JavaScript/Canvas/jQuery</span>
        <span class="date">2012-06-03</span>
      </div>
      
      
    </section>    
    
    <section id="web-instruments">
      <h1>WEB INSTRUMENTS</h1>
      
      <div>
        <img src="/images/app/mimi.png">
        <h2><a href="/mimi">mimi-grep</a></h2>
        <span class="description">Generate sound from a binary file</span>
        <span class="using">JavaScript/WebAudioAPI/AudioDataAPI/FileAPI</span>
        <span class="date">2012-03-17</span>
        <span class="seealso"><a href="http://mohayonao.hatenablog.com/entry/2012/03/17/233221">JavaScriptで耳grepするやつ</a></span>
      </div>
      
      <div>
        <img src="/images/app/invention.png">
        <h2><a href="/invention">Endless Invention</a></h2>
        <span class="description">Markov Invention 13 a-moll with a J.S.Bach interface</span>
        <span class="using">CoffeeScript/WebAudioAPI/AudioDataAPI</span>
        <span class="date">2011-11-07</span>
        <span class="seealso"><a href="http://d.hatena.ne.jp/mohayonao/20111107/1320671993">永久にバッハのインベンションを演奏するやつをつくった</a></span>
      </div>

      <div>
        <img src="/images/app/glistagram.png">
        <h2><a href="http://glistagram.herokuapp.com">GLISTAGRAM</a></h2>
        <span class="description">Glitched Instagram viewer</span>
        <span class="using">CoffeeScript</span>
        <span class="date">2011-09-10</span>
        <span class="seealso"><a href="http://d.hatena.ne.jp/mohayonao/20110910/1315606567">instagramの写真をグリッチしまくるWEBサービスをつくった</a></span>
      </div>

      <div>
        <img src="/images/app/perfume.png">
        <h2><a href="/perfume4">perfume.js</a></h2>
        <span class="description">Moving 3D objects using Perfume's motion data<br/>and glitching their sound <a href="http://www.perfume-global.com" target="#prfm_global_site">#prfm_global_site</a></span>
        <span class="using">JavaScript/WebAudioAPI/AudioDataAPI/WebWorkers/<a href="https://github.com/mrdoob/three.js/" target="Three.js">Three.js</a></span>
        <span class="date">2012-03-31</span>
        <span class="seealso"><a href="http://mohayonao.hatenablog.com/entry/2012/03/31/173235">踊るJavaScriptがPerfume</a></span>
      </div>

      <div>
        <img src="/images/app/theremin.png">
        <h2><a href="/theremin">WebCam Theremin</a></h2>
        <span class="description">Theremin with a web camera</span>
        <span class="using">JavaScript/WebAudioAPI/AudioDataAPI/WebRTC/WebWorkers</span>
        <span class="date">2012-03-04</span>
        <span class="seealso"><a href="http://mohayonao.hatenablog.com/entry/2012/03/04/104742">JavaScript+WEBカメラでテルミン</a></span>
      </div>
      
      <div>
        <img src="/images/app/d.png">
        <h2><a href="/d">DodDo DoriDori DoDoDoDo Doriland</a></h2>
        <span class="description">Text Sequencer</span>
        <span class="using">JavaScript/WebAudioAPI/AudioDataAPI/WebWorkers</span>
        <span class="date">2012-02-25</span>
        <span class="seealso"><a href="http://mohayonao.hatenablog.com/entry/2012/02/25/093222">ドッドッ ドリドリ ドドドド ドリランド</a></span>
      </div>

      <div>
        <img src="/images/app/windmills.png">
        <h2><a href="/windmills">Windmills</a></h2>
        <span class="description">windmill interface 24 poly synthesizer</span>
        <span class="using">CoffeeScript/WebAudioAPI/AudioDataAPI</span>
        <span class="date">2011-11-05</span>
        <span class="seealso"><a href="http://d.hatena.ne.jp/mohayonao/20111105/1320457757">大量の風車みたいなインターフェイスのウェブ楽器をつくった</a></span>
      </div>
      
    </section>
    
    <section id="accounts">
      <h1>ACCOUNTS</h1>
      <ul>
        <li><a href="http://twitter.com/mohayonao" target="twitter"><img src="/images/icon/twitter.png" title="Twitter"></a></li>
        <li><a href="http://mohayonao.hatenablog.com/" target="blog"><img src="/images/icon/hatena-blog.png" title="Blog"></a></li>
        <li><a href="https://github.com/mohayonao" target="github"><img src="/images/icon/github.png" title="GitHub"></a></li>
      </ul>
    </section>
    
    <footer></footer>
  </body>
</html>
