<html>
  <head>
    <title>Endless Invention</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/pico-player.js"></script>
    <script type="text/javascript" src="/javascripts/invention.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/invention.css" />
  </head>
  <body>
    <h1>Endless Invention</h1>
    <canvas id="canvas" width="150" height="200"></canvas>
    <h2>1.choose</h2>
    <form>
      <input type="radio" id="normal" name="mode" value="normal" checked>
      <label for="normal">Inventionen 13 a-moll</label><br/>
      <input type="radio" id="markov" name="mode" value="markov">
      <label for="markov">Markov Inventionen</label>
    </form>
    <h2>2.click J.S.Bach to play/pause music</h2>
    <h2>3.mouseover Y : control EFX Depth</h2>
  </body>
</html>
