<html>
  <head>
    <title>endless inventionen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/pico-player.js"></script>
    <script type="text/javascript" src="/javascripts/inventionen.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/inventionen.css" />
  </head>
  <body>
    <h1>endless inventionen</h1>
    <canvas id="canvas" width="150" height="200"></canvas>
  </body>
</html>
