<html>
  <head>
    <title><%=title%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/page.js"></script>
  </head>
  <body>
    <h1><%=title%></h1>
    <div id="__contents__"><%=contents%></div>
    <div style="margin-top:25px;color:#666">
      <a href="javascript:void(0)" id="__edit__">edit</a> / <span id="__modified__"><%=modified%></span>
    </div>
  </body>
</html>
