<html>
  <head>
    <meta charset="utf-8"/>
    <title>perfume2.js</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/Three.js"></script>
    <script type="text/javascript" src="/javascripts/ext.Three.js"></script>
    <script type="text/javascript" src="/javascripts/bvh.js"></script>
    <script type="text/javascript" src="/javascripts/motionman.js"></script>
    <script type="text/javascript" src="/javascripts/perfume2.js"></script>
  </head>
  <body style="margin:0px;padding:0px;background:black">
    <%- partial("perfume-footer") %>
  </body>
</html>
