<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= app %>.js</title>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/Three.js"></script>
    <script type="text/javascript" src="/javascripts/libs/Tween.js"></script>
    <script type="text/javascript" src="/javascripts/Three.flashlike.js"></script>
    <script type="text/javascript" src="/javascripts/bvh.js"></script>
    <script type="text/javascript" src="/javascripts/motionman.js"></script>
    <script type="text/javascript" src="/javascripts/<%= app %>.js"></script>
    <link rel="stylesheet" type="text/css"
          href="/stylesheets/perfume.mobile.css" media="only screen and (max-width:480px)" />
    <link rel="stylesheet" type="text/css"
          href="/stylesheets/perfume.css" media="screen and (min-width:481px)" />
  </head>
  <body>
    <section id="footer">
      <div id="body">
        <header><h1>perfume.js</h1>
          <a href="/a" target="#prfm_global_site">#prfm_global_site</a>
        </header>
        <div id="link-list">
          <ul>
            <li><a href="/perfume1">perfume1.js</a> basic version</li>
            <li><a href="/perfume2">perfume2.js</a> with Audio API</li>
          </ul>
          <ul>
            <li><a href="/perfume3">perfume3.js</a> 100 nocchies</li>
            <li><a href="/perfume4">perfume4.js</a> sound glitch</li>
          </ul>
        </div>
      </div>
      <footer>2012 <a href="https://twitter.com/#!/mohayonao" target="twitter">@mohayonao</a> <a href="https://github.com/mohayonao/mohayonao.herokuapp.com" target="github">src</a> <a href="/">more...</a></footer>
    </section>
    <div id="message"></div>
  </body>
</html>
