<html>
  <head>
    <meta charset="utf-8"/>
    <title>pico-player.js / pico-player.coffee</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>
    
    <!-- google-code-prettify -->
    <script type="text/javascript" src="/javascripts/prettify.js"></script>
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />

    <!-- pico.player -->
    <script type="text/javascript" src="/javascripts/pico-player.js"></script>
    <script type="text/javascript" src="/javascripts/pico-player-demo.js"></script>
  </head>
  <body>
    <h1>pico-player.js / <del>pico-player.coffee</del></h1>
    JavaScriptで音を出すための簡単なライブラリです。
    Chrome, Firefox, Operaで使えます。
    <br><br>
    コード<br>
    <a href="https://gist.github.com/1342081">https://gist.github.com/1342081</a>
    <br><br>
    ブログ記事<br>
    <a href="http://d.hatena.ne.jp/mohayonao/20111106/1320538394">JavaScriptでリアルタイムに音を出すときに簡単便利なやつつくった - つまみ食う</a>
    
    <section id="usage">
      <h2>Usage</h2>
      <div>
        <pre class="prettyprint">
var player = pico.gerplayer(options);
/*
options = {
  samplerate: 44100,
  channel: 1,
};
*/
player.play(generator);
player.stop();
        </pre>
      </div>
     <h2>Generator</h2>
     <ul>
       <li>ジェネレータは実際に音のシグナルを出力するためのオブジェクト</li>
       <li>player.play(generator) を実行すると、generator.next が定期的に呼ばれる</li>
       <li>generator.next は player.STREAM_FULL_SIZE の大きさの Float32Array (-1.0 &lt;= signal &lt;= +1.0)を返す</li>
       <li>チャンネル数が 2 のときは [L, R, L, R, .. ] という配列を返せばよい</li>
     </ul>
     <button id="testtone">testtone</button>
     <pre class="prettyprint">
var TABLE_SIZE = 1024;
var sinetable = new Float32Array(TABLE_SIZE);
for (var i = 0; i < TABLE_SIZE; i++) {
    sinetable[i] = Math.sin(2 * Math.PI * (i / TABLE_SIZE));
}

var ToneGenerator = function(player, wavelet, frequency) {
    this.wavelet = wavelet;
    this.frequency = frequency;
    this.phase = 0;
    this.phaseStep = TABLE_SIZE * frequency / player.SAMPLERATE;
    this.stream_full_size = player.STREAM_FULL_SIZE;
};
ToneGenerator.prototype.next = function() {
    var wavelet = this.wavelet;
    var phase = this.phase;
    var phaseStep = this.phaseStep;
    var table_size = TABLE_SIZE;
   
    var stream = new Float32Array(this.stream_full_size);
    for (var i = 0, imax = this.stream_full_size; i < imax; i++) {
        stream[i] = wavelet[(phase|0) % table_size];
        phase += phaseStep;
    }
    this.phase = phase;
    return stream;
};

$("#testtone").click(function() {
    // 440Hzのサイン波を再生して 2秒後に止まる
    var player = pico.getplayer({timerpath:"/javascripts/muteki-timer.js"});
    var gen = new ToneGenerator(player, sinetable, 440);
    
    player.play(gen);
    setTimeout(function() { player.stop(); }, 2000);
});
        </pre>
    </section>
  </body>
</html>
