body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px;
    width: 250px;
    color: #fff;
    background: #333;
    border: solid 1px #fff;
    opacity: 0.9;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
}

header h1 {
    margin: 0px;
}

header span {
    
}

header #stop {
    float: right;
    display: none;
}

hr {
    height: 1px;
    border: dashed 1px;
    border-width: 1px 0px 0px;
}

pre {
    font-family: 'Courier New', monospace;   
}